{% extends 'health/base.html' %}
{% block content %}

<div class="month-pager">
  <a href="{% url 'health:month_dashboard' prev_year prev_month %}">
    前月
  </a>
  <span class="ml-4 mr-4">{{ year_month }}</span>
  <a href="{% url 'health:month_dashboard' next_year next_month %}">
    次月
  </a>
</div>
{% autoescape off %}
<div class="month-dash-page-top mt-4">
  <div class="left card">
    <table class="table">
      <tr>
        <th>カテゴリ</th>
        <th>数値</th>
      </tr>
      <tr>
        <td>平均体重</td>
        <td>{{ average }}Kg</td>
      </tr>
      <tr>
        <td>平均体脂肪</td>
        <td>{{ ave_fat }}%</td>
      </tr>
      <tr>
        <td>平均BMI</td>
        <td>{{ ave_bmi }}%</td>
      </tr>
      <tr>
        <td>理想体重</td>
        <td>{{ appropriate }}Kg</td>
      </tr>
    </table>
  </div>
  <div class="right card">
    <table class="table">
      <tr>
        <th>身長</th>
        <th>性別</th>
        <th>年齢</th>
      </tr>
      <tr>
        <td>{{ height }}cm</td>
        <td>{{ gender }}</td>
        <td>{{ age }}歳</td>
      </tr>
    </table>
    <table class="table mt-5">
      <tr>
        <th>現在基礎代謝</th>
      </tr>
      <tr>
        <td>{{ leaving_work }}kcal</td>
      </tr>
    </table>
  </div>
</div>
<div class="month-dash-bottom">
  <div class="hidden_toolbar">
    {{ plot_bar }}
  </div>
  <div class="hidden_toolbar">
    {{ plot_line }}
  </div>
</div>
{% endautoescape %}

{% endblock %}
{% block extrajs %}
<!-- plotlyのjs -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock%}